<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/resources.xsd">

    <setting propertyKey="@Properties.ShowStandardTime" title="@Strings.StandardTimeMenuTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.ShowSeconds" title="@Strings.ShowSecondsMenuTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.Layout" title="@Strings.LayoutMenuTitile">
        <settingConfig type="list">
            <listEntry value="1">@Strings.LayoutConcentric</listEntry>
            <listEntry value="2">@Strings.LayoutHorizontal</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.Theme" title="@Strings.ThemeMenuTitile">
        <settingConfig type="list">
            <listEntry value="1">@Strings.ThemeMonochrome</listEntry>
            <listEntry value="2">@Strings.ThemeFrench</listEntry>
            <listEntry value="3">@Strings.ThemeItalian</listEntry>
            <listEntry value="4">@Strings.ThemeRed</listEntry>
            <listEntry value="5">@Strings.ThemeOrange</listEntry>
            <listEntry value="6">@Strings.ThemeOcean</listEntry>
        </settingConfig>
    </setting>

</settings>
